/* code editor */
.CodeMirror {
  height: 400px;
  border: 1px solid #cacaca;
  font-size: 14px;
}

body > .page-header {
  margin: 20px;
  overflow: hidden;
  position: relative;
}

#btn-generate {
  margin-top: 10px;
  float: right;
}

#btn-regenerate {
  margin-top: 20px;
  margin-left: 40px;
  display: none;
}

body > .page-header ul li {
  list-style-type: disc;
  list-style-position: inside;
  line-height: 150%;
  font-size: 15px;
}

body > .page-header p {
  line-height: 150%;
  font-size: 15px;
}